@use "../../styles/variables.scss" as *;

.graph {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 1.2rem;
  flex: 0 1 auto;
  margin-top: 2rem;

  &.collapsed {
    flex: 0 1 1.2rem;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  .graph-toggle {
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 0;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .graph-toggle h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
    color: var(--dark);
  }

  .graph-content {
    overflow: hidden;
    overflow-y: auto;
    margin-top: 0.5rem;
  }

  &.collapsed .graph-content {
    display: none;
  }

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & .graph-content > .graph-outer {
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    box-sizing: border-box;
    height: 250px;
    margin: 0.5em 0;
    position: relative;
    overflow: hidden;

    & > .global-graph-icon {
      cursor: pointer;
      background: none;
      border: none;
      color: var(--dark);
      opacity: 0.5;
      width: 24px;
      height: 24px;
      position: absolute;
      padding: 0.2rem;
      margin: 0.3rem;
      top: 0;
      right: 0;
      border-radius: 4px;
      background-color: transparent;
      transition: background-color 0.5s ease;
      cursor: pointer;
      &:hover {
        background-color: var(--lightgray);
      }
    }
  }

  & .graph-content > .global-graph-outer {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(4px);
    display: none;
    overflow: hidden;

    &.active {
      display: inline-block;
    }

    & > .global-graph-container {
      border: 1px solid var(--lightgray);
      background-color: var(--light);
      border-radius: 5px;
      box-sizing: border-box;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80vh;
      width: 80vw;

      @media all and not ($desktop) {
        width: 90%;
      }
    }
  }
}
