@use "./base.scss";

// put your custom CSS here!

// Hide folder collapse icons in Explorer to make it a simple list
.explorer .folder-icon {
  display: none;
}

// Adjust folder container padding since icon is hidden
.folder-container {
  padding-left: 0 !important;
}

// Make footer text smaller (8pt)
footer {
  font-size: 8pt !important;
  
  p {
    font-size: 8pt !important;
  }
}

// Make all headers italic (Playfair Display)
h1, h2, h3, h4, h5, h6 {
  font-style: italic !important;
}

// Use Helvetica Neue for body text with fallbacks
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
